@model Shopping.Models.CityViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Editar</h1>

<h4>Ciudad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="StateId" />
            <partial name="_FrmCity" />             
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}